/* 
- Font Sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

- Main colors: 
accent:#4dabf7
bg:#282b3a
text: #e7e7e7
c-text:#a5d8ff

*/

:root{
    --blue: #075af3;
    --grey:#505050;
    --white: #fff;
    --black: #0a083d;
    --icon-color: #0a083d;
    --light-theme-bg: #fff;
    --dark-theme-bg: #030322;
    --light-blue:#a5d8ff;
    --light: 300;
    --bold: 500;
    --bolder: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    line-height: 1;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
}

.heading__primary{
    font-size: 6.2rem;
    text-transform: uppercase;
    font-weight: var(--bold);
    letter-spacing: -0.75px;
}

.heading__secondary{
    font-size: 3.6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5rem;
}

.btn{
    border: none;
    border-radius: 10px;
}